body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
input{
    border: none;
    background-color: wheat;
    color: lightgray;
    padding: 10px;
    border-radius: 5px;
}
.main{
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
    padding: 10px 10px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.home{
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
}
.sidebar{
    width: 20vw;
    background-color: white;
    height: 100vh;
    padding: 30px;
    float: left;
}
.mainbar{
    padding:5px;
    background-color: rgb(209, 239, 247);
    height: 100vh;
    width: 80vw;
    position: absolute;
    left: 300px;
    float: right;
}
.first{
    display: flex;
    justify-content: space-between;
}
.right{
    display: flex;
    align-items: center;
}
.second{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.card{
    padding: 20px;
    background-color: #fff;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
}
.third{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.card1{
    padding: 20px;
    background-color: #fff;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 200px;
    width: 250px;

}